@import url('universal.css');
.reviewStrip{
    margin: auto;
    width: 95%;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

.reviewStrip:last-of-type{
    border-bottom: none;
}

.reviewStrip>div{
    margin: auto;
    width: 45%;
}

.reviewStrip>div>img{
    width: 80%;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}
